@model ApplicationUser
@using application
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Travel Reimbursement</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-Light">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="Index.cshtml">Travel Reimbursement</a>
            <div class="navbar-brand ps-3" style="margin-left: 58%;">
            <Partial name="_LoginPartial"/>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav"></br>

                            <a class="nav-link" asp-action="Profile" asp-controller="Employee">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                                Profile
                            </a>

                            <a class="nav-link" asp-action="Reimbursementform" asp-controller="Employee">
                                <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                                Reimbursement
                            </a>

                            <a class="nav-link" asp-action="Myrequest" asp-controller="Employee">
                                <div class="sb-nav-link-icon"><i class="fas fa-clock"></i></div>
                                My Request
                            </a>
                            
							              <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div> 
                                Logout
                            </a>

                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages"> 
                                </nav>
                            </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                  <div class="row">
                   <div class="col-xl-3 col-md-6" style="margin-left: 4%;">
                                <div class="card border-info mb-4">
                                    <div class="card-body">@ViewBag.Pending</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <h4>Pending &nbsp;<i class="far fa-hourglass"></i></h4>
                                        <div class="small text-black"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6" style="margin-left: 7%;">
                                <div class="card border-success mb-4">
                                    <div class="card-body">@ViewBag.Approved</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <h4>Approved &nbsp;<i class="far fa-thumbs-up"></i></h4>
                                        <div class="small text-black"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6" style="margin-left: 9%;">
                                <div class="card border-danger mb-4">
                                    <div class="card-body">@ViewBag.Rejected</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                      <h4>Rejected &nbsp;<i class="far fa-thumbs-down"></i></h4>
                                        <div class="small text-black"></div>
                                    </div>
                                </div>
                            </div></div>
                    <div class="container py-5">
    <div class="row">
      <div class="col">
      </div>
    </div>
      <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
           <div id="img-container">
            <a href="@Model.ProfilePicture"><img src="@Model.ProfilePicture" style="width: 250px; cursor: pointer;" data-lightbox='gallery'></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Firstname @Model.Lastname</p>
              </div>
            </div>
            <hr>
             <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Id</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Id</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Email</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.PhoneNumber</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Gender</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date of Birth</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.DateofBirth</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</main>
</div>
</body>
</html>